<br/>
<h1 align='center'>Recipes Database</h1>

<div class="container">
    <h4 class="row justify-content-center">Tables</h4>
    <div class="row justify-content-center justify-content-between">
        <button class="nav-link btn btn-xs btn-info" routerLink="/">Full Recipes</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/recipes">Recipes</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/categories">Categories</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/food-groups">Food Groups</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/ingredients">Ingredients</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/ingredients-lists">Ingredients Lists</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/instructions">Instructions</button>
        <button class="nav-link btn btn-xs btn-secondary" routerLink="/equipment">Equipment</button>
        <button class="nav-link btn btn-xs btn-danger" routerLink="/create-db">Reset Tables</button>       
    </div>
</div>
<hr/>

<router-outlet></router-outlet>

<br/>
<br/>
<br/>
<br/>
<!-- chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security -->

