<!-- <h2>Custom Recipe Query</h2>

<input type="text" placeholder="Enter query" [(ngModel)] = 'queryr' />
<br/>
<button (click)="runRecipeQuery()">Submit</button>

<h2 class="text-center">Recipes</h2>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Description</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Servings</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of responseRecipe">
        <td>
        {{recipe.recipe_id}}
        </td>
        <td>
        {{recipe.title}}
        </td>
        <td>
        {{recipe.category}}
        </td>
        <td>
        {{recipe.description}}
        </td>
        <td>
        {{recipe.prep_time}}
        </td>
        <td>
        {{recipe.cook_time}}
        </td>
        <td>
        {{recipe.servings}}
        </td>
        <td>
        <button class="btn btn-raised btn-danger btn-sm" (click)="delete(recipe)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<br/>

<h2>Custom Ingredients Query</h2>

<input type="text" placeholder="Enter query" [(ngModel)] = 'queryi' />
<br/>
<button (click)="runIngredientQuery()">Submit</button>
<p>{{responseIngredient}}</p> -->