<div class="container">
    <div class="row justify-content-center justify-content-between" *ngFor="let recipe of recipeData">
        <button class="nav-link btn btn-xs btn-secondary" (click)="getFullRecipe(recipe.title)"> {{recipe.title}} </button>
    </div>
</div>

<br/>

<div style="margin: 2rem">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Ingredients:</h2>
            <div *ngFor="let ingredient of ingredientsData">
                * {{ingredientMeasurement(ingredient.measurement_amount)}} {{ingredient.measurement_type}} {{ingredient.ingredient}} {{ingredientDescription(ingredient.description)}}
            </div>
        </div>
        <br/>
        <div class="col">
            <h2 class="text-center">Instructions:</h2>
            <div *ngFor="let instruction of instructionsData">
                {{instruction.step}}) {{instruction.instruction}}
            </div>
        </div>
    </div>
</div>