<h2 class="text-center">Instructions</h2>
<table class="table table-bordered table-striped w-auto">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Recipe Title</th>
      <th>Step</th>
      <th>Instruction</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instruction of tableData">
      <td>
        {{instruction.instruction_id}}
      </td>
      <td>
        {{instruction.recipe_title}}
      </td>
      <td>
        {{instruction.step}}
      </td>
      <td>
        {{instruction.instruction}}
      </td>
      <!-- <td>
        <button (click)="delete(group)">Delete</button>
      </td> -->
    </tr>
  </tbody>      
</table>
  
  <!-- <div class="col-md-6 user-container">
    <h2 class="text-center">Add Food Group</h2>
    <form [formGroup]="addForm" (ngSubmit)="save()">
      <div class="form-group">
        <label>Name:</label>
        <input formControlName="name" placeholder="Name"
                id="name">
      </div>
      <br/>
  
      <div class="form-group">
        <label>Description:</label>
        <input formControlName="description" placeholder="Description"
                id="description">
      </div>
      <br/>
  
      <button class="btn btn-success" type="submit">Add Category</button> 
      <p>{{saveResponse}}</p>
    </form>
  </div> -->