<h2 class="text-center">Equipment</h2>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equpment of tableData">
      <td>
        {{equpment.equipment_id}}
      </td>
      <td>
        {{equpment.name}}
      </td>
      <td>
        {{equpment.description}}
      </td>
      <!-- <td>
        <button (click)="delete(group)">Delete</button>
      </td> -->
    </tr>
  </tbody>
</table>
  
  <!-- <div class="col-md-6 user-container">
    <h2 class="text-center">Add Food Group</h2>
    <form [formGroup]="addForm" (ngSubmit)="save()">
      <div class="form-group">
        <label>Name:</label>
        <input formControlName="name" placeholder="Name"
                id="name">
      </div>
      <br/>
  
      <div class="form-group">
        <label>Description:</label>
        <input formControlName="description" placeholder="Description"
                id="description">
      </div>
      <br/>
  
      <button class="btn btn-success" type="submit">Add Category</button> 
      <p>{{saveResponse}}</p>
    </form>
  </div> -->