<div class="col-md-6 user-container">
<h2 class="text-center">Recipes</h2>
</div>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Prep Time</th>
      <th>Cook Time</th>
      <th>Servings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of tableData">
      <td>
        {{recipe.recipe_id}}
      </td>
      <td>
        {{recipe.title}}
      </td>
      <td>
        {{recipe.category}}
      </td>
      <td>
        {{recipe.description}}
      </td>
      <td>
        {{recipe.prep_time}}
      </td>
      <td>
        {{recipe.cook_time}}
      </td>
      <td>
        {{recipe.servings}}
      </td>
      <td>
        <button class="btn btn-raised btn-danger btn-sm" (click)="delete(recipe)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="col-md-6 user-container">
  <h2 class="text-center">Add Recipe</h2>
  <form [formGroup]="addForm" (ngSubmit)="save()">
    <div class="form-group">
      <label>Title:</label>
      <input formControlName="title" placeholder="Title"
              id="title">
    </div>
    <br/>

    <div class="form-group">
      <label>Description:</label>
      <input formControlName="description" placeholder="Description"
              id="description">
    </div>
    <br/>

    <div class="form-group">
      <label>Category:</label>
      <input formControlName="description" placeholder="Category"
              id="description">
    </div>
    <br/>

    <div class="form-group">
      <label>Prep Time:</label>
      <input formControlName="prep_time" placeholder="Prep Time" name="Prep Time"
              id="prep_time">
    </div>
    <br/>

    <div class="form-group">
      <label>Cook Time:</label>
      <input formControlName="cook_time" placeholder="Cook Time" name="Cook Time"
              id="cook_time">
    </div>
    <br/>

    <div class="form-group">
      <label>Servings:</label>
      <input formControlName="servings" placeholder="Servings" name="Servings"
              id="servings">
    </div>
    <br/>

    <button class="btn btn-raised btn-success" type="submit">Add Recipe</button> 
    <p>{{saveResponse}}</p>
  </form>
</div>