<div class="col-md-6 user-container">
    <h2 class="text-center">Categories</h2>
  </div>
  <div>
    <table class="table main-div">
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
      <tr align="center" *ngFor="let category of tableData">
        <td>
          {{category.category_id}}
        </td>
        <td>
          {{category.category}}
        </td>
        <td>
          {{category.description}}
        </td>
        <td>
          <button (click)="delete(category)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col-md-6 user-container">
    <h2 class="text-center">Add Category</h2>
    <form [formGroup]="addForm" (ngSubmit)="save()">
      <div class="form-group">
        <label>Category:</label>
        <input formControlName="category" placeholder="Category"
                id="category">
      </div>
      <br/>
  
      <div class="form-group">
        <label>Description:</label>
        <input formControlName="description" placeholder="Description"
                id="description">
      </div>
      <br/>
  
      <button class="btn btn-success" type="submit">Add Category</button> 
      <p>{{saveResponse}}</p>
    </form>
  </div>